<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/setting.css" />
    <link rel="stylesheet" href="css/estimation.css" />

    <title>진품먹품</title>
  </head>
  <body>
    <div class="main">
      <div class="logoBack">
        <a href="/" class="logo">진품먹품</a>
      </div>
      <section>
        <div class="count" id="count">2:00</div>
        <div class="name" id="name">서울 - 깁밥</div>
        <div class="image">
          <img id="img" src="/images/logo.png" alt="" />
        </div>
        <div class="ctrl">
          <input type="text" class="input" id="input" />
          <button class="startBtn" id="start" onclick="start()">시 작</button>
          <button class="submitBtn" id="submit" onclick="check()">확 인</button>
        </div>
      </section>
    </div>
    <div class="ads1"></div>
    <script type="text/javascript" src="/js/estimation.js"></script>
  </body>
</html>
