<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/setting.css" />
    <link rel="stylesheet" href="css/estimation.css" />

    <title>진품먹품</title>
  </head>
  <body>
    <div class="main">
      <header>진품먹품</header>
      <section>
        <div class="count" id="count">2:00</div>
        <div class="image">
          <img
            src="https://storage.googleapis.com/choral_foodapp/%E1%84%8C%E1%85%B5%E1%86%AB%E1%84%8C%E1%85%A1%E1%86%A8%E1%84%92%E1%85%AE%E1%84%90%E1%85%A9%E1%84%86%E1%85%A1%E1%84%8F%E1%85%B5.png"
            alt=""
          />
        </div>
        <div class="ctrl">
          <input type="text" />
          <button class="mainBtn" onclick="start()">시 작</button>
        </div>
      </section>
    </div>
    <div class="ads1"></div>
    <script type="text/javascript" src="/js/estimation.js"></script>
  </body>
</html>
