<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/setting.css" />
    <link rel="stylesheet" href="css/home.css" />

    <title>진품명품</title>
  </head>
  <body>
    <div class="main">
      <header>진품먹품</header>
      <section>
        <a href="" class="mainBtn">안내 사항</a>
        <a href="/rank" class="mainBtn">먹보 등급</a>
        <a href="/estimation" class="mainBtn">감정 시작</a>
      </section>
    </div>
    <div class="ads1"></div>
  </body>
</html>
