<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/setting.css" />
    <link rel="stylesheet" href="css/rank.css" />

    <title>진품명품</title>
  </head>
  <body>
    <div class="main">
      <a href="/">진품먹품</a>
      <div class="rankBack">
        <img src="/images/rank/bronze.png" />
        <div class="text">0 ~ 1개</div>
      </div>
      <div class="rankBack">
        <img src="/images/rank/silver.png" />
        <div class="text">2 ~ 3개</div>
      </div>
      <div class="rankBack">
        <img src="/images/rank/gold.png" />
        <div class="text">4 ~ 5개</div>
      </div>
      <div class="rankBack">
        <img src="/images/rank/diamond.png" />
        <div class="text">6 ~ 7개</div>
      </div>
      <div class="rankBack">
        <img src="/images/rank/platinum.png" />
        <div class="text">8 ~ 9개</div>
      </div>
      <div class="rankBack">
        <img src="/images/rank/master.png" />
        <div class="text">10개</div>
      </div>
    </div>
    <div class="ads1"></div>
    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
