@font-face {
  font-family: 'arirang';
  src: url('../fonts/JSArirang.ttf') format('truetype');
}

@font-face {
  font-family: 'arirangHon';
  src: url('../fonts/JSArirangHON.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 30%;
  background-color: yellow;
}

.logoBack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 10%;
  width: 100%;
  background-color: blue;
}

.logo {
  font-family: 'arirang';
  font-size: 40px;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'arirangHon';
  height: 10%;
  font-size: 30px;
  background-color: beige;
}

.name {
  height: 5%;
  font-size: 20px;
  margin: 1px 0;
}

.image {
  height: 60%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}
.ctrl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
}

.input {
  display: none;
  text-align: center;
  height: 30%;
  width: 80%;
}

.startBtn {
  display: initial;
  font-family: 'arirangHon';
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 10px 10px grey;
  font-size: 20px;
  margin: 10px 0;
  border-radius: 15px;
  width: 80%;
  height: 40%;
}

.submitBtn {
  display: none;
  font-family: 'arirangHon';
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 10px 10px grey;
  font-size: 20px;
  margin: 10px 0;
  border-radius: 15px;
  width: 80%;
  height: 40%;
}

.mainBtn:hover {
  transform: scale(1.05);
}

.ads1 {
  height: 15%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
  }
}
